root = true

[*]
indent_style = tab
indent_size = 8

[Makefile]
indent_style = tab
indent_size = 8

[{*.c,*.cpp,*.hpp,*.h,*.java,*.rs,*.go,*.conf}]
indent_style = tab
indent_size = 4

[{*.py,*.js,*.php,*.css,*.bash,*.sql.j2}]
indent_style = space
indent_size = 4

[{*.hs,*.ex,*.exs,*.r,*.html,*.pl,*.scala,*.xml,*.sbt,*.yml,*.sql,*.dart}]
indent_style = space
indent_size = 2
