root = true

[*]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 8

[{*.c,*.cpp,*.hpp,*.h,*.java,*.rs,*.go,*.sql}]
indent_style = tab
indent_size = 4

[{*.py,*.js,*.php,*.css,*.bash}]
indent_style = space
indent_size = 4

[{*.hs,*.ex,*.exs,*.r,*.html,*.pl}]
indent_style = space
indent_size = 2
